.cart {
  .list {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .further {
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 10;
    width: 150px;
    height: 75px;
    background-color: rgb(116, 170, 80);
    border: 2px solid rgb(92, 143, 58);
    border-radius: 5px;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}
.emptyCart {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
