.sent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  background-color: white;
  .messageContainer {
    position: relative;
    top: 30%;
    left: 50%;
    width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    .goToHomepage {
      position: relative;
      top: 60px;
      background-color: white;
      color: green;
      border: 1px solid green;
      border-radius: 5px;
      font-size: 30px;
      text-decoration: none;
      padding: 20px;
    }
    .finalMessage {
      margin-top: 30px;
      padding: 0 50px;
      font-size: 40px;
      margin-top: 45px;
    }
  }
}
