@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px goldenrod;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
  }
}
